<%- include("header") -%>

<body class="warning">
    <h1 class="jumbotron-fluid jumbotron dark">Tasks is a FLOSS project created by the team at Google. Tasks is used as
        a to-do-list over the browser type application.</h1>
    <form method="post" action="/about">
        <button type="submit">+</button></form>
</body>
<%- include("footer") -%>